
:root {
    --toastify-color-light: rgb(14, 13, 13);
  /* colors */
  --primary-color: #f44336;
  --primary-color-dark: color(#f44336 shade(12%));
  --primary-color-tint: color(#f44336 tint(70%));
  --secondary-color: rgb(255, 251, 251);
  --secodnary-color-dark: color(#222 shade(12%));
  --secondary-color-tint: color(#222 tint(70%));
  
  /* width */
  --form-width: 16rem;
}
.status1{
    color: red;
}
.status2{
    color: rgb(7, 18, 165);
}
.status3{
    color: rgb(7, 172, 43);
}
.heading1{
    font-size: 18px;
    text-align: center;

    color: black;
}
.paydone{
    font-size: 25px;
    text-align: center;

    color: rgb(8, 151, 115);
}
.empty{
    font-size: 25px;
    text-align: center;

    color: black;
}
.head11{
    text-align: center;
    color: black;
    font-style: oblique;
    padding-top: 30px;
    font-size: 30px;
}
.head12{
    text-align: center;
    color: black;
    font-style: oblique;
    padding-top: 24px;
    font-size: 30px;
}
.labelimp{
    color: red;
}
.datetime{
    color:orangered;
    font-weight: bold;

}
.datetime1{
    color:green;
    font-weight: bold;
    
}
.roww{
    text-align: center;
    display: flex;
}
.label{
    color: crimson;
}
.empp{
    color:rgb(40, 7, 189);
    font-weight: bold;

}
.warn{

    color: red;
}
.empp1{
    color:rgb(128, 0, 90);
    font-weight: bold;
    
}
.appointmentHead{
  font-size: 30px;
  color: rgb(194, 107, 8);
  font-style: oblique;
  font-weight: bold;
  text-align: center;
}