
:root {
    --toastify-color-light: rgb(14, 13, 13);
  /* colors */
  --primary-color: #f44336;
  --primary-color-dark: color(#f44336 shade(12%));
  --primary-color-tint: color(#f44336 tint(70%));
  --secondary-color: rgb(255, 251, 251);
  --secodnary-color-dark: color(#222 shade(12%));
  --secondary-color-tint: color(#222 tint(70%));
  
  /* width */
  --form-width: 16rem;
}
.head11{
    text-align: center;
    color: black;
    font-style: oblique;
    font-size: 30px;
}
.btnb{
    background-color: rgb(128, 198, 245);
    width: 25px;
    height: 30px;
    text-align: center;
    align-items: center;
}
.btny{
    background-color: rgb(240, 226, 100);
    width: 25px;
    height: 30px;
    text-align: center;
    align-items: center;
}
.btnr{
    background-color: rgb(253, 121, 104);
    width: 25px;
    height: 30px;
    text-align: center;
    align-items: center;
}
.viewtable{
    max-width: 100%;
    overflow-y: scroll;
    display:grid;

}
table{
    overflow: auto;
}
tbody{
    overflow-y: scroll;
}
  .tbl-header{
    width:calc(100% - 17px);
    width:-webkit-calc(100% - 17px);
    width:-moz-calc(100% - 17px);
  }
.viewtable::-webkit-scrollbar{
    display: none;
}