:root {
    --toastify-color-light: rgb(14, 13, 13);
  /* colors */
  --primary-color: #f44336;
  --primary-color-dark: color(#f44336 shade(12%));
  --primary-color-tint: color(#f44336 tint(70%));
  --secondary-color: rgb(255, 251, 251);
  --secodnary-color-dark: color(#222 shade(12%));
  --secondary-color-tint: color(#222 tint(70%));
  
  /* width */
  --form-width: 16rem;
}
.serverError{
  text-align: center;
  color: red;
}
.error1{
  color: red;
}
.head11{
  text-align: center;
  color: black;
  font-style: oblique;
  font-size: 30px;
}
.notfound{
 text-align: center;
 padding-top: 70px;
 color:rgb(163, 6, 6);
 font-size: 150px;
}
.notfound1{
  color: #0885b6;
 
 }
 .notfound2{
 color: rgb(163, 6, 6);
 }
 .page{
   text-align: center;
   font-size: 25px;
 }